* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    --greenblue: #3dc6a2;
}

a {
    display: inline;
    text-decoration: none;
    color: black;
}

header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 140px;
}

.media {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--greenblue);
    padding-inline-end: 50px;
}

.media-icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
}

.media-icons span {
    color: white;
    font-size: 3rem;
}