* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: .1fr 1fr;
    font-family: 'Roboto mono', monospace;
}

:root {
    --greenblue: #3dc6a2;
}

a {
    display: inline;
    text-decoration: none;
    color: black;
}


header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 140px;
}

.media {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--greenblue);
    padding-inline-end: 50px;
}

.media-icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
}

.media-icons span {
    color: white;
    font-size: 3rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90px;
}

.logo {
    margin-inline-start: 50px;
}

.logo img {
    width: 220px;
    margin-block-start: 10px;
}

.profile {
    display: flex;
    align-self: center;
    justify-self: end;
    margin-inline-end: 50px;
}

.profile a {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.profile a:hover {
    color: var(--greenblue);
    border-bottom: 1px solid var(--greenblue);
}

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-image: url(../Assets/Images/japan-1750129_640.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    width: 600px;
    display: flex;
    justify-self: center;
    align-self: center;
    color: var(--greenblue);
    font-size: 4rem;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
    letter-spacing: 5px;
}

button {
    width: 100px;
    height: 50px;
    background-color: var(--greenblue);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    opacity: .95;
    font-size: 2rem;
    font-weight: bold;
}

button a {
    color: white;
}