* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: .1fr 1fr;
    font-family: 'Roboto mono', monospace;
}

:root {
    --greenblue: #3dc6a2;
}

a {
    display: inline;
    text-decoration: none;
    color: black;
}


header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 140px;
}

.media {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--greenblue);
    padding-inline-end: 50px;
}

.media-icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
}

.media-icons span {
    color: white;
    font-size: 3rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90px;
}

.logo {
    margin-inline-start: 50px;
}

.logo img {
    width: 220px;
    margin-block-start: 10px;
}

.profile {
    display: flex;
    align-self: center;
    justify-self: end;
    margin-inline-end: 50px;
}

.profile a {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.profile a:hover {
    color: var(--greenblue);
    border-bottom: 1px solid var(--greenblue);
}

.main-home {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-image: url(../Assets/Images/japan-1750129_640.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    width: 600px;
    display: flex;
    justify-self: center;
    align-self: center;
    color: var(--greenblue);
    font-size: 4rem;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
    letter-spacing: 5px;
}

button {
    width: 120px;
    height: 50px;
    background-color: var(--greenblue);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    opacity: .95;
}

button a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto mono', monospace;
}

.body-blogs {
    display: grid;
    grid-template-rows: 2fr 8fr 1fr;
    min-height: 100vh;
    max-width: 100vw;
}

.main-blogs {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

footer {
    background-color: var(--greenblue);
    width: 100%;
    height: 50px;
}

.lastPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    width: 100%;
    background-color: #dfe3e9;
    margin-block-end: 15px;
    padding-block-start: 15px;
}

.morePosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 350px);
}

.photo-content {
    display: flex;
    flex-flow: column;
    padding-inline-start: 30px;
    justify-self: start;
    width: 100%;
}

.photo-content p {
    font-size: 1.5rem;
}
.photo-content img {
    padding-block-start: 10px;
    width: 80%;
    height: 80%;
}

.info-content {
    display: flex;
    flex-flow: column;
    padding-inline-end: 30px;
    justify-self: start;
    width: 100%;
    padding-block-start: 30px;
}

.info-content p, a {
    margin-block-end: 10px;
    font-size: 1.2rem;
}

.info-content .info-title {
    font-size: 1.5rem;
}

.info-content a {
    border: solid 1px var(--greenblue);
    padding: 10px;
    width:fit-content;
}

.morePosts img {
    width: 75%;
}

.morePosts-content {
    display: flex;
    flex-flow: column;
    justify-self: center;
    max-height: 100%;
}

.morePosts-content article {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.morePosts-content > * {
    margin-block-end: 5px;
}

.morePosts-content article > * {
    margin-block-end: 5px;
}